@import "./src/assets/mixins";
@import "./src/assets/variables";


.wrapper {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  @include flexCenter(column);
  background-color: $white;

  .title {
    width: 90%;
    @include flexCenter(row);
  }

  .preInfo {
    width: 60%;
    height: 50px;
    @include flexCenter(row);
    column-gap: 20px;
  }

  .infoWrapper {
    width: 100%;
    min-height: 1000px;
    height: auto;
    @include flexCenter(column);
    justify-content: flex-start;
    row-gap: 50px;
    background-color: $gray;

    .content {
      width: 60%;
      min-height: 500px;
      height: auto;
      @include flexCenter(row);
      justify-content: space-between;
      align-items: flex-start;

      .specification {
        width: 45%;
        height: 100%;
      }

      .description {
        margin-bottom: 20px;
        width: 45%;
        height: 100%;
        @include flexCenter(column);
      }
    }
  }
}