@import "./src/assets/mixins";
@import "./src/assets/variables";

.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flexCenter(column);
  backdrop-filter: blur(6px);
}