@import "../../assets/mixins";
@import "../../assets/variables";

.search {
  width: 100%;
  height: 500px;
  @include flexCenter(column);

  h1 {
    font-weight: 600;
    font-size: 66px;
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include flexCenter(row);

    input {
      padding-left: 20px;
      width: 50%;
      height: 40px;
      font-size: 16px;
      background-color: $gray;
      border: 1px solid $darkGray;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        outline: 1px solid $darkGray;
      }

      &:focus {
        outline: 1px solid $green;
        background-color: $white;
      }
    }

    img {
      z-index: 3;
      position: absolute;
      top: 20px;
      right: 10px;
      width: 30px;
      height: 30px;
      transition: 1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}