@import "../../assets/mixins";
@import "../../assets/variables";

.recipeCard {
  margin: 20px 0 20px 0;
  padding: 5px;
  cursor: pointer;


  &.small {
    width: 250px;
    min-height: 50vh;
  }

  &.medium {
    width: 100%;
    min-height: 50vh;
  }

  &:hover {
    .title > b {
      text-decoration: underline;
    }
  }

  .image {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    transition: 1s;

    &.small {
      height: 220px;
    }

    &.medium {
      height: 350px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  .title {
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;

    &.medium {
      @include flexCenter(row);
      justify-content: space-between;

      & > b {
        width: 60%;
        height: 100%;
        @include flexCenter(row);
        justify-content: flex-start;
      }

      & > .likesWrapper {
        width: 40%;
        height: 100%;
        @include flexCenter(row);
        justify-content: flex-end;
        column-gap: 10px;
        font-size: 18px;
      }
    }
  }

  .info {
    height: 65px;
    @include flexCenter(row);
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    div {
      width: calc(100% / 3);
      height: 100%;
      @include flexCenter(column);
      justify-content: space-between;
      align-items: flex-start;

      span {
        font-size: 14px;
      }

      b {
        font-size: 16px;
      }
    }
  }
}



