@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin shadowAround($color) {
  box-shadow: 0 2px 2px $color,
  -2px 0px 2px $color,
  2px 0px 2px $color,
  0px -2px 2px $color;
}

@mixin cutToEllipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}