@import "./src/assets/mixins";
@import "./src/assets/variables";


.typeSwitcher {
  width: 15%;
  height: 5vh;
  @include flexCenter(row);
  justify-content: flex-start;
  column-gap: 20px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;

  p {
    color: $textColor;
    @include logoTextStyle()
  }

  .active {
    text-decoration: underline $red;
    pointer-events: none;
  }
}