@import "./src/assets/mixins";
@import "./src/assets/variables";


.grid {
  width: 80%;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fill, min(320px));
  gap: 20px 20px ;
}