@import "./src/assets/mixins";
@import "./src/assets/variables";


.carousel {
  width: 50%;
  height: 40vh;
  @include flexCenter(column);
  align-items: flex-end;

  .buttons {
    width: 100px;
    height: 50px;;
    @include flexCenter(row);

    & > div {
      width: 50%;
      height: 100%;
      @include flexCenter(row);
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
        border: none;
        transition: 0.1s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.visibleWindow {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .slidersContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    & > div {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
